@use "/src/sass/base/variables.sass" as *
@use "/src/sass/base/mixins.sass" as *

.blog
    padding-top: 50px
    padding-bottom: 60px
    &__title
        margin-top: 60px
    &__title-h3
        text-align: left
    &__card
        border: 1px solid $Dark
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25)
        background: $Light
    &__data
        &-column
            display: flex
            flex-direction: column
            gap: 25px
            padding: 25px 25px 0 25px
    &__text
        margin-top: 25px
        padding: 0 25px 25px 25px
        color: $Dark
        font-size: 16px
        font-weight: 400
        line-height: 19px
    &__wrapper
        display: flex
        flex-wrap: wrap
        gap: 40px
        margin-top: 60px
    &__img
        max-inline-size: calc(100% + 2px)
        transform: translateX(-1px) translateY(-1px)
        object-fit: cover
        height: 240px
        //Практика. Создаем записи блога и обсуждаем нюансы динамического контента

@media screen and (min-width: 768px)
    .blog
        &__wrapper
            padding: 25px 25px 0 25px
            position: relative
            @include angle-decoration
        &__text
            margin-top: 15px
        &__data
            &-column
                padding: 25px 25px 0 25px
                gap: 0
                justify-content: space-between

@media screen and (min-width: 1200px)
    .blog
        &__wrapper
            display: grid
            grid-template-columns: 520px 520px
            gap: 50px
            flex-wrap: nowrap
            margin-top: 60px
            align-items: start

@media screen and (min-width: 1536px)
    .blog
        &__wrapper
            grid-template-columns: 670px 670px
            align-items: initial