@use "/src/sass/base/variables.sass" as *

.footer
    margin-top: 95px
    background: $Dark
    padding: 50px 0
    &__newsletter
        &-title
            color: $Light
            font-size: 16px
            font-weight: 500
            line-height: 19px
            text-transform: uppercase
        &-description
            color: $Light
            font-size: 16px
            font-weight: 400
            line-height: 19px
            margin-top: 40px
        &-email
            color: $ui-active
            font-size: 14px
            font-weight: 400
            line-height: 17px
            margin-top: 40px
            width: 293px
            height: 32px
            border-bottom: 1px solid $ui-active
        &-check-block
            display: flex
            align-items: center
            margin-top: 20px
            font-size: 14px
            font-weight: 400
            line-height: 28px
            color: $Light
            a
                color: rgba(162, 45, 198, 1)
                margin-left: 3px
        &-checkbox
            width: 15px
            height: 15px
            border: 1px solid $Light
            border-radius: 2px
            margin-right: 15px
            appearance: none
            &:checked
                background-color: rgb(136, 101, 8)
                &::after
                    content: ""
                    position: absolute
                    left: 15px
                    width: 5px
                    height: 10px
                    border: solid white
                    border-width: 0 2px 2px 0
                    transform: rotate(45deg)
        &-btn
            margin-top: 20px
    &__navigation
        &-wrapper
            display: flex
            flex-wrap: wrap
            margin-top: 40px
        &-block
            margin: 0 66px 40px 0
    &__link
        color: $Light
        font-size: 16px
        font-weight: 400
        line-height: 19px
        margin-bottom: 20px
    &__titles
        color: $Light
        font-size: 16px
        font-weight: 500
        line-height: 19px
        text-transform: uppercase
        margin-bottom: 40px
    &__icons
        color: $Light
        width: 92px
        display: flex
        justify-content: space-between
    &__copyright
        color: $Light
        font-size: 14px
        font-weight: 400
        line-height: 17px
        text-align: center
        margin-top: 42px

@media screen and (min-width: 768px)
    .footer
        &__wrapper-navigation-links
            display: flex
            justify-content: space-between
            margin-top: 40px
        &__navigation
            &-block
                margin: 0 66px 0 0
            &-wrapper
                margin-top: 0
        &__newsletter
            &-checkbox
                &:checked
                    &::after
                        left: 5px
