@use "/src/sass/base/mixins.sass" as *
@use "/src/sass/base/variables.sass" as *

.btn-default
    @include button
    width: 230px
    height: 50px
    line-height: 24px
    font-size: 20px

.btn-send
    @include button
    width: 220px
    height: 40px
    font-size: 16px
    &:focus
        color: $Dark
        outline: 1px solid $Ceramic
        border: none
    &:disabled
        color: $ui-disabled
        border-color: $ui-disabled

.btn-submit
    @include button
    color: $Light
    font-size: 16px
    line-height: 19px
    width: 90px
    height: 40px
    border: 1px solid $Light
    &:disabled
        color: $ui-disabled
        border-color: $ui-disabled

@media screen and (min-width: 1200px)
    .btn-defaulth
        &:hover
            background-color: $Dark
            color: $Light
        &:active
            box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4)
            background: rgba(217, 217, 217, 0.1)
            color: $Dark
            border: none
    .btn-send
        &:hover
            color: $Ceramic
            border: 1px solid $Ceramic
        &:active
            color: $Dark
            outline: 1px solid $Ceramic
            border: none

@media screen and (min-width: 1536px)
    .btn-default
        width: 330px
        height: 60px
