@use "/src/sass/base/variables.sass" as *

.input
    width: 340px
    height: 48px
    border: 1px solid rgba(226, 225, 229, 1)
    border-radius: 2px
    background: rgba(255, 255, 255, 1)
    color: $ui-disabled
    font-size: 14px
    font-weight: 400
    line-height: 28px
    text-align: left
    padding: 0 15px
    &-question
        width: 340px
        height: 132px
        border: 1px solid rgba(226, 225, 229, 1)
        border-radius: 2px
        background: rgba(255, 255, 255, 1)
        color: $ui-disabled
        font-size: 14px
        font-weight: 400
        line-height: 28px
        text-align: left
        padding: 10px 15px

@media screen and (min-width: 768px)
    .input
        width: 300px
        &-question
            width: 300px
